:root{

  /* root color */
  --c1-new: #2e3026;
  --c2-new: #869aa6;
  --c3-new: #64d275;
  --c4-new: #fdfcfb; 
  --c5-new: #f64129;
  --c6-new: #FFD369;
  --admin__background-color: var(--c1-new);
  --admmin__text-color: var(--c4-new);
 
}
/* div tổng */
.Admin__app{
  display: flex;
  width: 100%;
  
}

/* Div menu */
.Admin__app-menu{
  width: 260px;
  min-height: 800px;
  background-color: var(--admin__background-color);
  color: var(--admmin__text-color);
  position: fixed;
}
/* Div cân bằng */
.Admin__app-left{
  min-width: 260px;
}
/* Div nội dung */
.Admin__app-right{
  width: 100%;
  min-height: 1200px;
}
/* header bên nội dung */
.Admin__app-right-Header{
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: var(--c4-new);
  z-index: 1;
}
.Admin__app-right-Header-position{
  width: 100%;
  height: 65px;
}

.Admin__app-right-content{
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236,0.5);
}

.Admin__app-right-content{
  background-color: rgb(245, 245, 245);
}

html[data-theme="dark"]  {
  --color: rgb(250, 250, 250);
  --background-color: rgb(5, 5, 5);
}
html[data-theme="light"]  {
  --color: rgb(5, 5, 5);
  --background-color: rgb(250, 250, 250);
}