.admin-controll-product-type{
    padding: 30px;
    flex: 1;
    background-color: rgb(241, 241, 241);
}
.admin-controll-product-type__topic{
    color: var(--c3);
    display: flex;
    padding: 14px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.062),
                5px 5px 5px rgba(0,0,0,0.1);
}
.admin-controll-product-type__topic h2{
    display: inline;
    height: 40px;  
    line-height: 40px;
    margin-top: 0;
}
.admin-controll-product-type__topic i{
    margin-right: 10px;
    font-size: 35px;
}
.admin-controll-product-type__body{
    padding-top: 30px;
    width: 100%;
}
.admin-controll-product-type__item{
    width: 100%;
}
.admin-controll-product-type__item--box{
    background-color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted rgb(214, 214, 214) ;
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.062),
                5px 5px 5px rgba(0,0,0,0.1);
}
.admin-controll-product-type__col p{
    display: inline;
    color: #999;
}
.admin-controll-product-type__icon{
    padding: 5px;
    cursor: pointer;
}
.admin-controll-product-type__icon--red{
    color: var(--c5);
}
.admin-controll-product-type__angle{
    display: inline;
}
.admin-controll-product-type__angle i{
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 20px;
    margin-right: 6px;
}
.admin-controll-product-type__li{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
    padding: 14px;
    display: flex;
    width: 98%;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px dotted rgb(209, 209, 209);
}
.admin-controll-product-type__item ul{
    animation-name: admin-controll-product-type__item__ul;
    animation-duration: 0.2s;
}
@keyframes admin-controll-product-type__item__ul{
    from{
        display: none;
        transform: translateY(-10px);
    }to{
        display: block;
        transform: translateY(0px);
    }
}
.admin-controll-product-type__li--bottom{
    border: none;
}