:root{
 /* Set thuộc tính header */
  --width_icon : 40px;
  --font_logo  : 20px;
  --width_image: 45px;
  --margin_icon: 20px;
  --font_text-bell:14px;
  --font__bell:30px;
  /* color  */
  --c1-new: #2e3026;
  --c2-new: #869aa6;
  --c3-new: #64d275;
  --c4-new: #fdfcfb;
  --c5-new: #f64129;
  --c6-new: #FFD369;
  --admin__background-color: var(--c1-new);
  --admmin__text-color: var(--c4-new);
}


/* header */
.admin__header{
  width: 100%;
  height: 70px;
  background-color:  var(--admin__background-color);
  color: var(--admmin__text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Div logo */
.admin__header-logo{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
/* Logo */
.admin__img-logo{
  height: var(--width_image);
  width: var(--width_image);
  border-radius: 10px;
}
/* Logo text */
.admin__header-logo--text{
  margin: 20px;
  font-size: var(--font_logo);
}



/* Div bên phải */
.admin__header-infomation{
  display: flex;
  align-items: center;
  margin-right: var(--margin_icon);
}
/* DIV Avatar admin */
.admin__avatar{
  height: var(--width_icon);
  width: var(--width_icon);
  border-radius: 100%;
  background-color: white;
  margin-right: calc( var(--margin_icon)/10);
  margin-left: var(--margin_icon);
}
/* Avatar admin */
.admin__avatar-image{
 height: var(--width_icon) ;
 width: var(--width_icon);
 border-radius: 100%;
 image-rendering: pixelated;
 filter: drop-shadow(0 0 2px var(--admin__background-color));
 cursor: pointer;
 
}

/* Menu thông tin */
.admin__infomation{
  height: calc(var(--width_icon)/1.5) ;
  width : calc(var(--width_icon)/1.5);
  display: flex;
  justify-content: center;
  align-items: center; 
 
  cursor: pointer;
}
/* DIV Chuông thông báo */
.admin__notification{
  height: 50px;
  width: auto;
  padding: 5px;
  background-color: var(--admin__background-color);
  margin-right: var(--admmin__text-color);
  display: flex;
  justify-content: left;
  align-items: center;
  
}

/* DIV Bell icon */
.admin__notification-bell{
  height: 100% ;
  width: var(--width_icon);
  border-radius: 8px;
  
  
}
/* Bell size */
.bell-icon-size{
  font-size: var(--font__bell);
  margin-left: 3px;
  margin-top: 1px;
  
}
/* Dot size */
.bell-icon-dot{
  width: 10px;
  height: 10px;
  background-color: var(--admmin__text-color);
  position:relative;
  top: -36px;
  left:19px;
  border-radius: 100%;
  z-index: 1;
  border: 2px solid var(--admin__background-color);
}

/* text for bell */
.admin__notification-text{
  margin-left: 8px;
  font-size: var(--font_text-bell);
}


/* ADMIN - MENU */

/* menu */
.admin__menu{
  height: 800px;
  width: 200px;
  background-color: var(--c1-new);
  color: var(--c4-new);
  display: flex;

  flex-direction: column;
}
/* chữ Admin */
.admin-title{
text-align: center;
}