.footer{
    padding: 0 0.8rem;
    background-color: var(--c1);
}
.footer__box{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer__title{
    color: var(--c3);
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer__element{
    font-size: 14px;
}
.footer__li{
    margin-bottom: 10px;
}