
/*----------------HEADER______________________*/
/*--------------------------------------------*/
.header{
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 0 0.8rem;
    background-color: #fff;
    box-shadow: 0px 0px 20px #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header__row{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__box{
    display: flex;
    height: 40px;
    align-items: center;
}
.header__icon{
    color: var(--c1);
}
.header__icon i{
    transition: all 0.2 linear;
    text-transform: capitalize;
}
.header__icon i:hover,
.header__icon i:active{
    color: var(--c3);
    cursor: pointer;
    transform: rotate(360deg);
}
.header__contentlogo{
    display: flex;
    height: 100%;
}
.header__logo{
    margin-right: 20px;
    height: 100%;
}
.header__logo img{
    height: 100%;
}
.header__ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 230px;
    transform: translateX(-100%);
    padding-top: 20px;
    background-color: #fff;
    height: 100vh;
    z-index: 1;
    opacity: 0;
    font-weight: 600;
}
.header__li{
    position: relative;
    z-index: 100;
}
.header__li--active::after{
    position: absolute;
    top: 24px;
    left: 0px;
    z-index: 1;
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: var(--c3);
}
.header__link{
    height: 100%;
    line-height: 20px;
}
.header__link:hover, .header__link:active{
    color: var(--c3);
}
.header__icon--bar{
    display: block;
    line-height: 40px;
    cursor: pointer;
}
.header__icon--bar:hover,
.header__icon--bar:active{
    color: var(--c3);
}
.header__icon--bar i{
    margin-right: 8px;
}
.header__closebar{
    display: none;
}
.header__closebar{
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100vmax;
    height: 100vh;
    background-color: #000;
    opacity: 50%;
}

.header__closebar--show{
    display: block;
}
.header__ul--show{
    transform: translateX(0);
    opacity: 100;
    transition: all 0.5s ease;
}
.header__search{
    width: 100%;
    position: relative;
    margin: 0 10px;
}
.header__search input[type=text]{
    width: 100%;
    padding: 7px;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid #bbb;
}
.header__search input[type=text]:focus {
    border: none;
    outline: none;
    border: 1px solid var(--c3);
}
.header__search input[type=text]::placeholder {
    color: #bbb;
}
.header__icon--search{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 7px;
    color: var(--c2);
}
.header__icon--search i{
    margin: 0;
}
.header__button{
    margin-left: 14px;
}
.header__bardiv{
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
}
.header__bardiv:hover{
    background-color: var(--c3);
}
.header__bardiv:hover .header__link,
.header__bardiv:hover .header__menubar__show__icon{
    color: #fff;
}
.header__ul--child{
    z-index: -1;
    display: none;
    padding-left: 30px;
    transition: all 0.3s;
}
.header__li--child{
    padding: 2px 0px;
    font-size: 13px;
}
.header__ul--child--show{
    display: block;
    transition: all 0.3s;
    animation-name: hbmenuain;
    animation-duration: 0.2s;
}
@keyframes hbmenuain{
    0%{
        transform: translate(0px,-20px);
    }100%{
        position: relative;
        transform: translate(0px,0px);
    }
}
/*--------------------------------------------*/
@media only screen and (max-width: 700px) {
    .header__icon span{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .header__button span{
        display: none;
    }
    .header__logo{
        display: none;
    }
}
@media only screen and (max-width: 376px) {
    
}
.header__logo b{
    color: var(--c3);
}
.header__avatar{
    margin-left: 8px;
}
.header__avatar--img{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}
.header__avatar__ul{
    border-top: 1px dotted var(--c2);
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    display: none;
    top:60px;
    background-color: #fff;
    transform: translateX(-60px);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.295);
}
.header__avatar__ul--show{
    display: block;
}
.header__avatar__ul li{
    width: 120px;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    cursor: pointer;
}
.header__avatar__ul__element:hover{
    color: var(--c3);
}
.header__icon span{
    font-size: 14px;
}
.header__icon span:hover{
    color: var(--c3);
}