:root{
    /* color */
    --c1: #2e3026;
    --c2: #869aa6;
    --c3: #64d275;
    --c4: #fdfcfb;
    --c5: #f64129;
    --c6: #FFD369;
    --background-color:var(--c1);
    --color:var(--c4);
}
.OrderAdmin{
    width: 100%;    
}
/* Div tổng */
.orderadmin-app{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

/* Div trên */
.orderadmin-header{
    width: 100%;
    height: auto;  
    padding-top: 15px;
    padding-left:15px;  
    border-bottom: 1px solid rgb(202, 202, 202);
}

/* div title product */
.orderadmin-title{
    width: 160px;
    height: 50px;
    color: var(--background-color);
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom: 1px solid #000000;
    
}
.orderamin-title-icon{
    font-size: 20px;
}
/* div search */
.orderadmin-search{
    width: auto;
    height: 39px;
    display: flex;
    flex-wrap: wrap;
}
/* item */
.orderadmin-search-item{
    margin: 15px;
    user-select: none;
    width: auto;
    height: 18px;
    height: 25px;
}
.orderadmin-search-item:hover{
    border-bottom: 2px solid var(--c3);
 
    color: #64d275;
}
.orderadmin-search-item:active{
    border-bottom: 2px solid var(--c1);
    color: var(--c1)
}
.orderadmin-search-item:hover{
   
    cursor: pointer;
}


.orderamin-title-text{
    margin-left: 10px;
}
/* Div dưới */
.orderadmin-content{
    width: 100%;
    height: auto;
    padding : 20px;
}

/* search text */
.orderadmin-content-navbar{
    height: 30px;
    width: 50%;
    border: 2px solid rgb(212, 212, 212);
    display: flex;
    border-radius: 5px;
}

.orderadmin-content-navbar-choose{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(212, 212, 212);   
    color:rgb(49, 49, 49) ;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}
.orderadmin-content-navbar-choose:active{
    background-color: var(--c3);
    color: var(--c4);
}

.orderadmin-content-navbar-choose-icon{
    font-size: 14px;
    margin-top: 2px;
    color:rgb(85, 84, 84) ;
    margin-left: 5px;
}

.orderadmin-content-navbar-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   
}
.orderadmin-content-navbar-text-icon{
    font-size: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 30px;
    justify-content: center;
    color:rgb(85, 84, 84)  ;
    margin-left: 3px;
    cursor: pointer;
}
.orderadmin-content-navbar-text-icon:active{
    color: #64d275;
}
.orderadmin-input-text{
    height: 100%;
    width: 100%;
    outline-width: 0;
    border: none;
    padding: 5px;
    
}
::placeholder {
   font-size: 12px;
  }

.admin-product-header{
    width: 100%;
    height: 40px;
    font-weight: 1000;
    display: flex;
    color: var(--c1);
    margin-top: 20px;
    align-items: center;
    border-radius: 5px;
    
}

.admin-product-header-item{
   width: 20%;
   text-align: center;
}


.admin-product-content{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
   color: #2e3026;
    margin-top: 10px;
    align-items: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}
.admin-product-header-item-img{
    width: 40px;
    height: 40px; 
}

#admin-kg{
    padding-left:20px ;
    text-align: center;
}


.dot-admin-product{
    font-size: 18px;
    cursor: pointer;
    color: rgb(121, 121, 121);
}

.dot-admin-product:hover{
color: black;
}
.admin-product-header-item-icon{
    cursor: pointer;

}
.admin-product-header-item-icon:hover{
    color: var(--c3);
}
.admin-product-header-item-icon:active{
    color: var(--c1);
}