.login{
    background-color: rgb(240, 240, 240);
    padding-top: 30px;
    padding-bottom: 30px;
}
.login__content{
    background-color: #fff;
    height: 700px;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.075),
                5px 5px 10px rgba(0, 0, 0, 0.075);
    position: relative;
}
.login__content-left{
    height: 100%;
    width: 50%;
}
.login__img{
    height: 100%;
    width: 100%;
    background-image: url('../images/logonbanner.png');
    background-size: cover;
    background-position: center;
}
.login__content-right{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
}
.login__box{
    top: 35%;
    left: 20%;
    border: 1px solid var(--c2);
    padding: 14px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login__label{
    font-size: 1rem;
    color: var(--c2);
}
.login__input:focus{
    outline: none;
}
.login__input{
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 5px 0px;
}
.login__div{
    width: 400px;
    margin: auto;
}
.login__button{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.login__submit{
    width: 49%;
    text-align: center;  
}
.login__logo-img{
    height: 100px;
    width: auto;
}
.login__logo{
    width: 100%;
    text-align: center;
}
.login__logo h4{
    margin-top: 30px;
    margin-bottom: 40px;
    color: var(--c2);
}
.login__box:hover{
    border-color: var(--c3);
}
.login__button .button{
    padding: 14px;
}
.signup__repassword{
    border: 1px solid var(--c5);
}
.signup__repassword:hover{
    border-color: var(--c5);
}
.signup__error{
    color: var(--c5);
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 6px;
}
.button__signup{
    margin: 0 auto;
}